*{
    margin: 0;
    padding: 0;
}

nav ul{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
    list-style: none;
}
#homepageContent img{
    color: white;
}

#homepageContent{
    /* background-color: #7aabb8; */
    display: flex;
    justify-content: center;
    font-size: 30px;
    flex-direction: column;
    align-items: center;
    position: relative;
    margin-top: 25%;
    /* background-image: linear-gradient(to bottom, #a3c4e0, #87aec7, #6b99af, #518496, #366f7e, #29616f, #1b5360, #0c4651, #0b3b47, #0b313d, #0a2732, #081e28); */
}
#homepageContent p{
    text-decoration: none;
    color: rgb(255, 255, 255);
    padding: 10px;
    text-align: center;
}
main{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-image: linear-gradient(to bottom, #a3c4e0, #87aec7, #6b99af, #518496, #366f7e, #29616f, #1b5360, #0c4651, #0b3b47, #0b313d, #0a2732, #081e28);
}
section{
    height: 1080px;
    color: rgba(255, 255, 255, 0.496);
    width: 80%;
}
.startingPoint{
    display: flex;
    /* align-items: flex-start; */
}
#depthCounter{
    position: fixed;
    top: 98%;
    right: 5%;
    font-size: 20px;
    color: white;
    opacity: 0.5;
    /* align-content: center; */
}
/* Test gemini */


/* Le texte du pourcentage */
#progress-text {
  color: rgb(160, 19, 19);
  font-size: 12px;
  font-weight: bold;
  position: fixed;
}
/* fin test gemini */

main section{
    text-align: center;
    font-size: 25px;
}

.bubble{
    position: fixed; /*permet aux bulles de bouger sans être genée par les scrolls*/
    border-radius: 50%; /* c'est pour faire la forme ronde de la bulle*/
    background: rgba(255, 255, 255, 0.2);
    box-shadow: inset 0 0 8px rgba(255, 255, 255, 0.3); /*inset permet de placer l'ombre à l'intérieur de la bulle*/
    pointer-events: none; /* la bulle ne peut pas bloquer un clic/une action */
    z-index: 10; /*elles passent devant le fond mais derrière le texte*/
}