:root {
  --flash-light: rgba(219, 231, 186, 0.4);
  --flash-light-border: rgba(219, 231, 186, 0.1);
  --black-color: rgb(1, 0, 20);
  --white-color: aliceblue;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  width: 100vw;
  height: 100vh;
  background-color: var(--black-color);
  overflow-x: hidden;
}
main {
  height: 100%;
  padding: 0 5vw;
}
h1 {
  color: var(--white-color);
  padding: 16px 0;
  border-bottom: 2px solid var(--white-color);
}
.sea-display {
  position: relative;
  width: 100%;
  overflow-x: hidden;
  height: 100%;
}
.sea-display button {
  cursor: pointer;
  background-color: var(--white-color);
  border: none;
  border-radius: 0 0 4px 4px;
  font-size: 1.25rem;
  padding: 4px 1rem;
}
.hidden-content {
  position: absolute;
  top: 0%;
  left: 5%;
  width: 90%;
  height: 90%;
  border-radius: 100%;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}
.opacity-light {
  opacity: 0;
}
.light-color {
  background: radial-gradient(var(--flash-light), var(--flash-light-border));
  box-shadow: 0 0 24px var(--flash-light);
  z-index: 3;
}
.bio-creatures {
  position: relative;
  z-index: 2;
}
.sea-monster {
  height: 100%;
}
@media screen and (min-width: 1024px) {
  .sea-monster {
    height: auto;
    width: 100%;
  }
}
