:root { 
    --text-color: #d1d9e6;
    --gold-accent: #c5a47e;
}
/* root permet de cibler la racine de l'arbre représentant le document, ici le <html> donc on dit d'appliquer toutes ces règles à tout le site*/
/* Les 2 -- = custom properties
En CSS, le navigateur connaît les mots clés (background, color etc...) et si il ne connaît pas ce que tu écris il va l'ignorer.
En ajoutant -- devant c'est comme si tu lui dis : c'est une propriété que je personnalise. Stocke cette valeur.
On utilise var() pour réutiliser la valeur. */

body{
    margin: 0;
    padding: 0;
    background: linear-gradient(180deg, #0f172a 0%, #070b14 30%, #020408 70%, #000000 100% );
    background-attachment: fixed;
    color: var(--text-color);
}
/* margin et padding 0 pour remettre tout à 0 et que notre background touche bien les bords */
/* linear gradient = dégradé , 180deg pour que le dégradé aille du haut vers le bas, 0% = tout en haut, 100% = tout en bas */
/* var() = on utilise la custom properties qu'on a fait avant */
/* background attachement fixed :  le dégradé me bouge pas pendant qu'on scroll c'est nous qui descendons. */

header{
    height: 60vh;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}
/* vh = Viewport Height = hauteur de la fenêtre */
/* align items center = centre verticalement (ici au milieu de la hauteur des 60vh)
justify content center = centre horizontalement */
/* text align center : centre le texte sur lui même */

.mainContainer{
    max-width: 800px;
    padding: 20px;
}
/* max width = on limite la largeur à 800px
padding de 20px pour pas que ça colle au bord de l'écran */

.mainContainer h2{
    font-size: 2.5rem;
    font-weight: lighter;
    letter-spacing: 6px;
    text-transform: uppercase;
    color: #fff;
}
.layersInfo{
    max-width: 900px;
    margin: 0 auto;
    padding: 20px;
}
/* max width = on limite la largeur à 900px
margin 0 auto = pas de marge et auto calcule automatiquement l'espace vide à gauche et à droite et le divise équitablement donc ça centre parfaitement */
.layersBlock{
    background: rgba(255, 255, 255, 0.02);
    border-left: 1px solid var(--gold-accent);
    padding: 40px;
    margin-bottom: 60px;
    backdrop-filter: blur(5px);
    transition: 0.5s ease;
}
/* background = blanc et opacité de 2%
backdrop filter blur : tout ce qui est derrière ce bloc doit devenir flou 
transition : si un changement de style arrive il doit prendre 0.5 sec et être fluide */

.layersBlock:hover{
    background: rgba(255, 255, 255, 0.05);
    transform: translateX(10px);
}
/* hover = le style s'applique uniquement si la souris de l'utilisateur se trouve au dessus de l'élément
transform : on demande à l'élément de se déplacer de 10px sur l'axe X (horizontal) */

.layersBlock h4{
    color: var(--gold-accent);
    text-transform: uppercase;
    letter-spacing: 3px;
    margin-top: 0;
}

.imgEncyclopedia{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 15px;
    max-width: 1100px;
    margin: 100px auto;
    padding: 40px;
}
/* grid template : me créer 5 colonnes, sépare l'espace en fraction égales et une colonne = une fraction 
gap : espacement entre chaque "case" */

.imgEncyclopedia img{
    width: 100%;
     aspect-ratio: 1/1;  /*force l'image a être un carré parfait */
    object-fit: contain; /*puisque on a forcé l'image a être un carré parfait c'est pour pas qu'elle soit déformée*/
    background: rgba(0, 0, 0, 0.04);
    border: 1px solid rgba(255, 255, 255, 0.1);
    cursor: pointer;
    transition: all 0.4s ease; /*tout les changements vont se faire en 0.4s et de manière fluide*/
    filter: brightness(0.6); /*gère la luminosité de l'image*/
}

.imgEncyclopedia img:hover{
    filter:brightness(1); /*On augmente la luminosité*/
    transform: scale(1.1); /* c'est le zoom*/
    border-color: var(--gold-accent);
    box-shadow: 0 0 30px rgba(197, 164, 126, 0.2);
}

.bubble{
    position: fixed; /*permet aux bulles de bouger sans être genée par les scrolls*/
    border-radius: 50%; /* c'est pour faire la forme ronde de la bulle*/
    background: rgba(255, 255, 255, 0.2);
    box-shadow: inset 0 0 8px rgba(255, 255, 255, 0.3); /*inset permet de placer l'ombre à l'intérieur de la bulle*/
    pointer-events: none; /* la bulle ne peut pas bloquer un clic/une action */
    z-index: 10; /*elles passent devant le fond mais derrière le texte*/
}