*{
    margin: 0;
    padding: 0;
}
body{
    cursor: none;
}
/* Style pour le menu de navigation */
nav ul{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
    list-style: none;
}
/* Style pour le contenu de la page d'accueil */
main{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-image: linear-gradient(to bottom, #a3c4e0, #87aec7, #6b99af, #518496, #366f7e, #29616f, #1b5360, #0c4651, #0b3b47, #0b313d, #0a2732, #081e28);
    height: 100vh;
}
/* Style pour les bubulles */
.bubble{
    position: fixed; /*permet aux bulles de bouger sans être genée par les scrolls*/
    border-radius: 50%; /* c'est pour faire la forme ronde de la bulle*/
    background: rgba(255, 255, 255, 0.2);
    box-shadow: inset 0 0 8px rgba(255, 255, 255, 0.3); /*inset permet de placer l'ombre à l'intérieur de la bulle*/
    pointer-events: none; /* la bulle ne peut pas bloquer un clic/une action */
    z-index: 10; /*elles passent devant le fond mais derrière le texte*/
}

/* Style pour le contenu du quizz*/
#quizzSection{
    border: solid 2px white;
    width: 70%;
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 10px;
}

#question-section{
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 20px;
    align-items: center;
}

#quizzSection button{
    padding: 10px 20px;
    font-size: 18px;
    width: 200px;
    border: none;
    border-radius: 50px;
    background-color: #0eadd433;
    color: white;
    cursor: none;
}
#quizzSection h2{
    color: white;
    text-align: center;
    padding: 20px;
    font-size: 1.25rem;
}
#quizzSection p{
    color: white;
    text-align: center;
    padding: 20px;
}



/* Cache le vrai curseur sur tout le site */

/* Style de la bulle */
.cursor-bubble {
    width: 20px;
    height: 20px;
    background: rgba(255, 255, 255, 0.2);
    border: 1px solid rgba(255, 255, 255, 0.4);
    border-radius: 50%;
    position: fixed; /* Fixé par rapport à l'écran */
    pointer-events: none; /* Important : pour pouvoir cliquer "à travers" la bulle */
    z-index: 9999;
    transform: translate(-50%, -50%); /* Centre la bulle sur la pointe de la souris */
    transition: width 0.2s, height 0.2s, background 0.2s; /* Pour les effets au clic */
    box-shadow: inset -2px -2px 5px rgba(255, 255, 255, 0.3);
}